<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bigbusiness">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBusiness">
        <activity android:name=".Main.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.ui.Invoice.AddInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.VerifyOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".Main.ui.Finance.FinanceActivity"
            android:label="@string/title_activity_finance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BigBusiness.NoActionBar" />
        <activity
            android:name=".Main.Main1Activity"
            android:label="@string/title_activity_main1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".Main.ui.Finance.RemindersAndDues.ReminderFormActivity"
            android:label="ReminderFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.ui.Invoice.InvoiceManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.ui.Inventory.InventoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main.ui.Inventory.AddInventoryItem"
            android:screenOrientation="portrait" />
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Main.ui.Services.ServicesActivity"/>
        <activity android:name=".Main.ui.Services.GSTServiceActivity"/>

    </application>

</manifest>